@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700&display=swap');

 
 
/**  =====================
      Custom css start
==========================  **/
a {
      text-decoration: none;
  }

 
  .h6, h6 {
      font-size: .875rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: Sarabun,sans-serif;
      font-weight: 600;
  }
  b, strong {
    font-weight: 500;
  }
  body {
      font-family: Roboto,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.45;
      margin: 0;
      background-color: #f9fafd;
  }

 /* Scrollbar CSS */

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9d7aff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #9d7aff; 
}
 
 


  .dropdown-menu {
      font-size: 0.875rem;   
  }
.dropdown-mega-menu-xl {
      width: 40rem;
  } 
  
.dropdown .dropdown-item.dropdown-toggle::after {
  display: none !important;
}
.btn-link {
      text-decoration: none;
}
.dropdown-toggle::after {
    top: 2px;
    position: relative;
}

.btn-danger {
    color: #fff;
    background-color: #fa626b;
    border-color: #fa626b;
}
.btn-danger.btn-glow {
    color: #fff;
    -webkit-box-shadow: 0 1px 20px 1px rgb(250 98 107 / 60%);
    box-shadow: 0 1px 20px 1px rgb(250 98 107 / 60%);
}
.card.mini-stat.bg-white {
    -webkit-box-shadow: 0 0 15px 1px rgba(64,70,74,.25);
    -moz-box-shadow: 0 0 15px 1px rgba(64,70,74,.25);
     box-shadow: 0 0 15px 1px rgba(64,70,74,.25);
     border: none;
}
.rounded-pill {
    line-height: 13px;
}
.summercard {
    -webkit-box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;
    -moz-box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;  
    box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;  
    border: none;
}
.summercard .card-header, .summercard .card-footer {
    border: none;
}

.table-hover>tbody>tr:hover>* {
    background-color: #dbe0ef !important;
}
.customertbl .tab-content {
    background: transparent;
    box-shadow:none;
  }
  .customertbl tbody, .customertbl td, .customertbl tfoot, .customertbl th, .customertbl thead, .customertbl tr {
    border: 0 !important;
  }
  .customertbl .table{
    border-collapse: separate;
    border-spacing: 0 0.4em;
    padding-right: 0.4rem
  }
  .customertbl .table>tbody>tr:hover>* {
    background-color: #dbe0ef !important;
  }
  .customertbl thead tr {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    border-radius: 0px;
    background: #9c7bff;
    color: #fff;
  }
  .customertbl.accordiontbl thead tr{
    background: #979797;
  }
  .customertbl tr th:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .customertbl tr th:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .customertbl .table th {
    border-top: none;
    padding: 0.20rem 0.35rem 0.20rem 0.35rem;
    font-weight: 500;
  }
  .customertbl .table tbody td {
    line-height: 20px;
    font-size: 0.885rem;
    padding: 0.20rem 0.35rem 0.20rem 0.35rem;
  }
  .customertbl .table-striped tbody tr:nth-of-type(odd) {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    border-radius: 0px;
    background: #fff !important;
    opacity: 1 !important;
  }
  /* .customertbl .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff;
  } */
  .customertbl .table-striped tbody tr:nth-of-type(even) {
    background: #fff;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    border-radius: 0px;
  }
  .customertbl tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 2px solid #33c9fe !important;
  }
  .customertbl tr td:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  } 
 
.customertbl .item {
    height: 22px;
    width: 22px;
    padding: 0;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 2px;
    transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    will-change: transform;
  }
  .customertbl .item:hover {
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
  }

  .badge.text-bg-primary {
    background-color: #e7fbe6 !important;
    color: #0d6efd !important;
  }
  .badge.text-bg-warning {
    background-color: #ffe9d5 !important;
    color: #ffa755 !important;
  }
  .badge.text-bg-success {
    background-color: #e7fbe6 !important;
    color: #68e365 !important;
  }
  .badge.text-bg-danger {
    background-color: #fee6ea !important;
    color: #f9626b !important;
  }
  .badge {
    line-height: 1.4;
    border-radius: 1.03125rem;
    padding: 0.15rem 0.625rem;
    border: 0.0625rem solid transparent;
  }

  .modal-content .modal-header {
    background-color: #f6f7f9;
    padding: 0.45rem 1rem;
} 
.form-control {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.modal-content .modal-footer {
  border-top: 1px solid #e2e5e8;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.required {
  color: red;
}
.form-control, .input-group-text, .form-select {
  border-radius: 0.275rem;
  -moz-border-radius: 0.275rem;
  -webkit-border-radius: 0.275rem;
  padding: 0.325rem 0.75rem;
  font-size: 0.8125rem !important;
}
.col-form-label {
  line-height: 1;
}
.form-control, .input-group-text, .form-select {
  border-radius: 0.275rem;
  -moz-border-radius: 0.275rem;
  -webkit-border-radius: 0.275rem;
  padding: 0.325rem 0.75rem;
  font-size: 0.8125rem !important;
}

.input-group-text {
  padding: 0.52rem 0.35rem;
  border-radius: 0 0.25rem 0.25rem 0;
}
 /*Bootstrap Calendar*/
 .datepicker {
  border-radius: 0;
  padding: 0;
}
.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
  padding: 10px;
  display: list-item;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
  background: #3546b3;
  color: #ffffff;
  border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
  border-radius: 3px;
}
.datepicker-days table thead tr:nth-child(3n+0) {
  text-transform: uppercase;
  font-weight: 300 !important;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
  padding: 4px 10px !important;
  font-weight: 500;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
  border-radius: 0;
}
.datepicker td, .datepicker th {
  border-radius: 0;
  padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
  background: #3546b3;
  color: #ffffff;
  border-radius: 0;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-image: none;
}
.datepicker .prev, .datepicker .next {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  width: 37px;
  height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.99);
  /* font-size: 21px; */
}
.datepicker .datepicker-switch {
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}
.datepicker .datepicker-switch:hover {
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
}
.datepicker table tr td span {
  border-radius: 2px;
  margin: 3%;
  width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
background-color: #3546b3;
background-image: none;
}
.dropdown-menu {
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 9999 !important;
}
.datepicker-dropdown.datepicker-orient-top:before {
  border-top: 7px solid rgba(0,0,0,.1);
}
 /*End Bootstrap Calendar*/
.customertbl .btn.btn-sm {
  padding: 0rem 0.3rem
 }

 label.form-check-label {
  padding-top: 0.1rem;
}
 .fileselect {
  position: relative;
  min-height: 2.8rem;
}
.fileselect #file-input{
  display:none;
}

.fileselect label{
  position: relative;
  padding: 0;
}
.fileselect label[for='file-input'] *{
  cursor: pointer;
  height: 31px;
}

.fileselect label[for='file-input'] span{
  margin-left: 10px;
  position: relative;
  background: #ff8673;
  line-height: 30px;
  padding: 0px 0.2rem;
  /* overflow: hidden;
  width: 140px; */
}
.fileselect i, .fileselect h6 {
  font-size: 0.765rem;
  margin-bottom: 0;
  padding: 0.5rem 0.6rem;
}

.fileselect i.remove{
  vertical-align:middle;
  margin-left: 5px;
  cursor:pointer;
  display:none;
  padding: 0.7rem 0.5rem 0.6rem 0.6rem;
  position: relative;
  top: 0.4rem;
}
.modal-open .modal {
  --bs-modal-zindex: 1080 !important;
}
.modal-open .modal-backdrop.show {
  z-index: 1070;
}
.modal-open .select2-container {
  z-index: 1090 ;
}
 
.accordion-item {
  position: relative;
  border:none;
  background: none;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;
  -moz-box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;
   box-shadow: 0 0 15px 1px rgba(64,70,74,.25)!important;
}
.accordion-item .accordion-button {
  padding: 0.4rem 0.4rem;
  /* box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
  padding-left: 2rem;
}
.accordion-body {
  padding: 0.8rem 0.6rem;
}
:focus-visible {
  outline: none !important;
}
 
button.accordion-button.collapsed {
  border-radius: 0 !important;
  box-shadow: none;
  /* background: none; */
}
.accordion-button::after {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 30px;
  height: 100%;
  line-height: 30px;
  /* border: 1px solid #6e8898; */
  border-radius: 3px;
  background-position: center;

}
button.accordion-button.collapsed::after {
 transform: rotate(-90deg);
}
.accordion-button:not(.collapsed)::after {
  background-color: #e7f1ff;
  border: 1px solid #e7f1ff;
  transform: rotate(0deg);
}
.accordion-item:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  /* border: 1px dashed #6e8898; */
  position: absolute;
  top: 25px;
  left: 5px;

}
.accordion-item:last-child:before {
  display: none;
}
.accordion-button:not(.collapsed) {
  /* background: transparent !important; */
  box-shadow: none;
}

.accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23466782'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.collapse.show {
  background: #fff;
}

.was-validated .form-select:invalid ~ .select2-container--default .select2-selection--single {
  border-color: #dc3545 !important;
}

.was-validated .form-control:valid, .was-validated .form-control:invalid {
  background-image: none !important;
}
.nav-item.active>a {
  background-color: rgba(0,0,0,.05);
}

.nav-item .hover, .nav-item:hover {
  background-color: rgba(255,255,255,.05);
}


@media (min-width: 600px){
.dropdown-menu-lg {
    width: 300px;
}
}