.buttonWrapperr{
    // width: 100%;
    // display: flex;
    // justify-content: center;
    margin-top: 70px;
    float: right;
    button{
    background-color: #690091;
    color:#fff;
    // margin-top:-22px;
    z-index: 1;
    // border-radius: 50%;
    // -moz-border-radius: 50%;
    // -webkit-border-radius: 50%;
    // padding: 6px 15px;
   
    }
}