.add-icon i {
    background-color: #d4edda;
    font-size: 20px;
    color:#155724;;
   padding: 5px 6px;

  }
  .add-icon{
    background: transparent;
    border: none !important;
    font-size: 28px;
  }

.remove-icon i {
    
  background-color: #f8d7da;
    font-size: 20px;
    color:#721c24;
 padding:5px 6px;

  }
  .remove-icon{
    border: none !important;
    background: transparent;
    font-size: 28px;
  }
.container-switch{
display: inline-flex;
column-gap: 35px;
align-items: center;

}
.file-extensions{
  height: 500px;
  width: 1000px;
  overflow: hidden !important ;
}
// .toggle-switch{
// position: absolute; 
// }
.error-message{
  height: 25px;
   width: 298px;
    margin: 0px 35px;
}
.inputfield-obj{
      display: flex;
        flex-direction: column;
        margin: -30px 145px 27px 153px;
        overflow: auto;
        height: auto;
        width: auto;
}

.form-switch .form-check-input {
  width: 40px;
  height: 19px;
}