.tenantLogin{
    background: url('https://i.imgur.com/n743WDX.png');
background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
}